@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;700&display=swap');
:root {
    --primary-color:lightgreen;
    --white: white;
    --dark-pink: #ffcccb;
    --green:green;
    }
body{

margin:0;
    font-family: 'Fjalla One', sans-serif;
    background-color:var(--primary-color);
    font-size: 1.15rem;
    
}
header img{
    max-width:15rem;
    padding-top:3rem;
    padding-bottom:3rem;
}
.navigation {
    background-color: var(--green);
    padding:0.5rem;  

    

}
section{
 
    padding:1rem;
}
.pg{
    background-color:palegreen;
}
header.pg{
    padding-bottom: 1rem;;
}
/** links **/

.link-primary {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--green);
    border-radius: 0.5rem;
    color: white;
    display: inline-block;
    max-width: 140px;
    margin:0 auto;
}
ul{
    list-style-type: none; 
}

section div p{
    margin-bottom: 1rem;
}
.navigation ul li a {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    color:var(--white);
    padding:0.5rem;
    font-size: 1rem;
}
.navigation ul li{
    list-style-type: none;
    
    display: inline;
}
.navigation ul{
    list-style-type: none;
    text-align: right;
    text-decoration: none;
    
}
.navigation .heading-name a{
    text-decoration: none;
    cursor: pointer;
    color:var(--white);
    font-size: 2rem;
  
}
.container{

    text-align: center;

}
.article{
    text-align: justify;
  
    text-justify: inter-word;
}
.showcase-blogs{
    margin:0;
    text-align: left;
}
.showcase-blogs p{
   
    line-height: 1.8;
    overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 font-family: 'Inconsolata';

}
.showcase-blogs-new p{
    width:50%;
    line-height: 1.8;
    text-align: left;
    font-family: 'Inconsolata';

}
.first-letter {
    font-size: 3rem;
    line-height: 1;
    color:Red;
  }
footer{
    background-color: var(--green);
    text-align: center;
margin-top:5rem;
    bottom: 0;

    height:6rem;
    padding:1rem;
    }
    footer a img{
        width:2rem;
    }
    footer ul{
        margin-bottom: 0;
    }
    footer ul li{
       display:inline;
    }
    ul{
        padding-inline-start: 0;
    }